/* ======================= Fonts ========================== */

@font-face {
    font-family: "Almarai";
    src: url("../fonts/Almarai-Bold.woff2") format("woff2"), url("../fonts/Almarai-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Almarai";
    src: url("../fonts/Almarai-ExtraBold.woff2") format("woff2"), url("../fonts/Almarai-ExtraBold.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Almarai";
    src: url("../fonts/Almarai-Light.woff2") format("woff2"), url("../fonts/Almarai-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Almarai";
    src: url("../fonts/Almarai-Regular.woff2") format("woff2"), url("../fonts/Almarai-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* Some Main Rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

input:focus,
textarea:focus {
    outline: none;
}

img {
    max-width: 100%;
    display: inline-block;
}

body {
    font-family: "Almarai", "sans-serif";
    direction: rtl;
}

:root {
    --main-transition: 0.4s;
}


/* ======= Utilties ========= */

.section-title {
    font-size: 24px;
    font-weight: bold;
    color: #2f2f2f;
}

.section-title span {
    color: #9866b7;
}

.section-title::after {
    content: "";
    width: 100px;
    height: 4px;
    display: block;
    background-color: #9866b7;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 13px;
}


/* whats app icon */

.whats-app {
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50%;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whats-app a {
    color: #fff;
}


/* ======================== Navbar ================== */

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-brand {
    width: 230px;
}

.navbar-toggler i {
    font-size: 25px;
    color: #9866b7;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.25rem #9866b7;
}

.nav-link {
    color: #707070;
    font-size: 17px;
    transition: var(--main-transition);
}

.nav-link:hover {
    color: #9866b7;
}

@media (max-width: 767px) {
    .nav-link {
        margin-top: 10px;
    }
}

.nav-register-link {
    border: 1px solid #9866b7;
    border-radius: 8px;
    font-size: 16px;
}

.nav-register-link:hover {
    color: #fff;
    background-color: #9866b7;
}


/* ======================= header ========================= */

.header {
    padding: 40px 0;
    background-image: url("../images/header_back.svg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.header-svg {
    position: absolute;
    top: 2%;
    right: 51%;
}

.header-text p {
    line-height: 1.9;
    font-size: 20px;
    margin-bottom: 30px;
}

.header-text a {
    background-color: #fff;
    color: #9866b7;
    padding: 10px 50px;
    border-radius: 8px;
    font-size: 18px;
}

.header-video {
    position: relative;
}

.header-video button {
    font-size: 22px;
    color: #fff;
    background-color: #9866b7;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/* ======================= why us ==================== */

.why-us-text h2 {
    font-size: 23px;
    color: #9866b7;
}

.why-us-text p {
    line-height: 1.9;
    font-size: 20px;
    color: #2f2f2f;
}


/* =========================== our statics ===================== */

.our-statics-box {
    box-shadow: 0 6px 11px rgba(0, 0, 0, 0.109);
    text-align: center;
    padding: 10px;
    border-radius: 7px;
    transition: var(--main-transition);
    margin-bottom: 25px;
}

.our-statics-box.active {
    color: #fff;
    background-color: #9866b7;
}

.our-statics-box.active .svg {
    fill: #fff;
}

.our-statics-box .svg {
    margin: 12px 0;
    fill: #9866b7;
    min-height: 60px;
}

.our-statics-box span {
    color: #9866b7;
    font-size: 19px;
    font-weight: bold;
}

.our-statics-box.active span {
    color: #fff;
}


/* hover */

.our-statics-box:hover {
    transform: translateY(-12px);
    background-color: #9866b7;
}

.our-statics-box:hover p {
    color: #fff;
}

.our-statics-box:hover span {
    color: #fff;
}

.our-statics-box:hover svg {
    fill: #fff;
}


/* ========================= Start our Feats ==================== */

.our-feats {
    background-color: #f9f9f9;
}

.our-feats-text li {
    margin-bottom: 32px;
    color: #818181;
    font-size: 18px;
}

.our-feats-text li span:first-of-type {
    color: #fff;
    background-color: #9866b7;
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 13px;
}


/* ======================== ad course content ================ */

.ad-course-content .upload-part {
    border: 2px dashed #d0d4da;
    border-radius: 18px;
    padding: 12px 0;
    position: relative;
}

.ad-course-content label {
    color: #676767;
}

.ad-course-content textarea {
    min-height: 185px;
    border: 1px solid #d6d6d6;
    border-radius: 20px;
    width: 100%;
    resize: none;
    overflow-y: auto;
    padding: 12px;
    display: block;
    margin-top: 10px;
}

.upload-part .text img {
    animation: upload-icon 1s ease-in-out alternate infinite;
}

.file-btn-source {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.file-btn-appearance {
    background-color: #9866b7;
    color: #fff;
    padding: 9px 30px;
    border-radius: 11px;
    border: 1px solid #9866b7;
    transition: var(--main-transition);
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.file-btn-appearance:hover {
    color: #9866b7;
    background-color: transparent;
}

#file-name {
    display: block;
    background-color: #9866b7;
    margin: 5px 0;
    color: #fff;
    width: fit-content;
    border-radius: 4px;
}

@keyframes upload-icon {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-5px);
    }
}

.ad-course-content button {
    background-color: #2f2f2f;
    color: #fff;
    padding: 12px 33px;
    border-radius: 9px;
    border: 1px solid #2f2f2f;
    transition: var(--main-transition);
    margin-top: 10px;
    font-weight: bold;
}

.ad-course-content button i {
    margin-left: 3px;
}

.ad-course-content button:hover {
    color: #2f2f2f;
    background-color: transparent;
}


/* ========================= Footer ======================== */

.footer {
    background-color: #3a3a3a;
    color: #fff;
    padding: 45px 0;
}

.footer-info p {
    line-height: 1.9;
}

.footer .section-title {
    color: #fff;
}

.footer .section-title::after {
    margin-right: 0;
    margin-left: 0;
    width: 30%;
}

.footer ul a {
    color: #fff;
    font-size: 15px;
    margin-top: 18px;
    display: block;
}

.footer-social-media ul a {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #525252;
    transition: var(--main-transition);
}

@media (min-width: 768px) {
    .footer-social-media ul a:hover {
        transform: translateY(-10px);
    }
}


/* company rights footer */

.company-rights {
    background-color: #9866b7;
    color: #fff;
}

.company-rights ul a {
    color: #fff;
}


/* creator rights footer */

.creator-rights {
    background-color: #fff;
    font-size: 1.2rem;
}

.creator-rights a {
    color: #9866b7;
}


/* ================================= Courses page ========================== */

.course-body {
    background-image: url("../images/courses_svg_back.svg");
    background-repeat: no-repeat;
    background-position: left -250px;
    background-size: contain;
}

.courses-svg-back {
    position: absolute;
    left: 0;
    z-index: -1;
}

.courses-menu ul {
    padding: 2px 4px;
    border: 1px solid #dddddd;
    border-radius: 10px;
}

.menu-offline-courses,
.menu-online-courses {
    border-radius: 10px;
    font-size: 19px;
    text-align: center;
    padding: 14px 60px;
    display: block;
}

.menu-offline-courses,
.menu-online-courses {
    color: #9a9a9a;
    background-color: #f2f2f2;
    margin-left: 5px;
}

.menu-offline-courses.active,
.menu-online-courses.active {
    color: #fff;
    background-color: #9866b7;
}

.courses-content-categories {
    min-height: 300px;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
}

.courses-content-categories .search-field {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border: 1px solid #f1f1f1;
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
}

.courses-content-categories .search-field i {
    color: #9a9a9a;
}

.courses-content-categories .search-field input {
    border: 0;
    width: 90%;
    padding: 10px 7px;
    background-color: #f9f9f9;
}

.courses-content-categories .form-check-input:checked {
    background-color: #9866b7;
    border-color: #9866b7;
    box-shadow: 0 0 0 0.25rem rgb(152 102 183 / 25%);
}

.courses-content-categories label {
    font-size: 15px;
    font-weight: bold;
    color: #9866b7;
}

.tutorials-box {
    border-radius: 7px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 12%);
    min-height: 300px;
    margin-bottom: 25px;
}

.tutorials-box img {
    width: 100%;
}

.tutorials-box .tutorials-box-info {
    padding: 14px 12px;
}

.tutorials-box .course-name,
.tutorials-box .course-price {
    font-size: 17px;
    font-weight: bold;
}

.tutorials-box .course-name {
    color: #9866b7;
}

.tutorials-box .course-price {
    color: #6acc87;
}

.tutorials-box .course-date {
    border-top: 1px solid #e8e8e8;
    padding-top: 10px;
    font-size: 18px;
}

.tutorials-box .course-date span:first-of-type {
    color: #9e9e9e;
}

.tutorials-box p {
    line-height: 1.8;
    font-size: 17px;
    color: #818181;
}

.svg-animation {
    animation: svg-motion 1.4s ease-in-out infinite alternate;
    color: rgb(152, 102, 183);
}

@keyframes svg-motion {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-25px);
    }
}

.play-button-effect {
    animation: play-button-effect 1.2s linear infinite;
    color: rgb(152, 102, 183);
}

@keyframes play-button-effect {
    0% {
        box-shadow: 0 0 0 0 rgba(152, 102, 183, 0.5), 0 0 0 0 rgba(152, 102, 183, 0.8);
    }
    100% {
        box-shadow: 0 0 0 10px rgba(152, 102, 183, 0), 0 0 0 20px rgba(152, 102, 183, 0);
    }
}


/* ==================== Contact Us Page ===============*/

.contact-us {
    margin-top: 70px;
}

.contact-us h2 {
    color: #9866b7;
    font-weight: bold;
}

.contact-us-text p {
    line-height: 1.9;
    color: #8d8d8d;
    font-size: 19px;
}

.contact-us-form {
    padding: 15px 25px;
    background-color: #f9f9f9;
    border-radius: 12px;
}

.contact-us-form input,
.contact-us-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 12px;
    padding-top: 11px;
    padding-bottom: 11px;
    text-align: right;
    padding-right: 4px;
    border: 1px solid #e5e5e5;
    border-radius: 7px;
    font-size: 18px;
}

.contact-us-form input:focus,
.contact-us-form textarea:focus {
    border-color: #9866b7;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
}

.contact-us-form textarea {
    min-height: 150px;
    resize: none;
    overflow-y: auto;
}

.contact-us-form input[type="submit"] {
    background-color: #9866b7;
    border: 1px solid #9866b7;
    color: #fff;
    text-align: center;
    padding: 9px 15px;
    font-size: 19px;
    font-weight: bold;
    border-radius: 7px;
    transition: 0.4s;
}

.contact-us-form input[type="submit"]:hover {
    background-color: transparent;
    color: #9866b7;
}


/* ===================== Login Page ===================== */

.login-box {
    max-width: 975px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 20px 22px rgba(0, 0, 0, 8%);
}

.login-box .login-form {
    padding: 12px 20px 12px 0;
}

.login-box .input-group {
    width: 85%;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 20px;
}

.login-box .input-group-text {
    background-color: unset;
    position: relative;
    color: #9866b7;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-color: #d6d6d6;
    font-size: 14px;
}

.login-box .input-group-text::after {
    content: "";
    width: 1px;
    height: 75%;
    background-color: #d6d6d6;
    border-radius: 2px;
    position: absolute;
    left: 5px;
}

.login-box .input-group .form-control {
    border-right: 0;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-color: #d6d6d6;
}

.login-box .input-group .form-control::placeholder {
    font-size: 14px;
}

.login-box .input-group .form-control:focus {
    box-shadow: none;
}

.input-part a {
    color: #888888;
    font-size: 14px;
}

.form-check-input {
    border-color: #9866b7;
}

.form-check-input:checked {
    background-color: #9866b7;
    box-shadow: 0 0 0 0.25rem rgba(152, 102, 183, 25%);
    border-color: #9866b7;
}

.form-check-input:focus {
    box-shadow: 0 0 0 0.25rem rgba(152, 102, 183, 25%);
    border-color: #9866b7;
}

.submit-form {
    background-color: #9866b7;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 8px 31px;
    border: 1px solid #9866b7;
    transition: 0.4s;
}

.submit-form:hover {
    color: #9866b7;
    background-color: transparent;
}

.submit-form:focus {
    box-shadow: 0 0 0 0.25rem rgba(152, 102, 183, 25%);
}

.new-account-link {
    color: #000;
}

.new-account-link span {
    color: #9866b7;
    font-weight: bold;
}

.login-box .login-image,
.login-box .login-image img {
    height: 100%;
}

.login-box .login-image img {
    display: block;
    margin-right: auto;
}


/* =========================== Single live Course ======================= */

.single-header {
    min-height: 200px;
    background-image: url(../images/single_header_back.png);
    background-size: cover;
    display: flex;
    align-items: center;
}

.breadcrumb-item a {
    color: #fff;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
}

.breadcrumb-item.active {
    color: #fff;
}


/* -- single info content -- */

.single-content-info {
    box-shadow: 0 20px 22px rgb(0, 0, 0, 8%);
    padding: 10px 12px;
    border-radius: 10px;
}

.single-content-info h5 {
    color: #9866b7;
    font-weight: bold;
    font-size: 17px;
}

#download-pdf-btn,
#zoom-meeting-btn {
    border-radius: 10px;
    color: #fff;
    padding: 10px 23px;
    font-size: 16px;
    border: 1px solid #9866b7;
    transition: var(--main-transition);
}

#download-pdf-btn {
    background-color: #2f2f2f;
    margin-left: 7px;
    border: 1px solid #2f2f2f;
}

#download-pdf-btn:hover {
    background-color: transparent;
    color: #2f2f2f;
}

#zoom-meeting-btn {
    background-color: #9866b7;
    border: 1px solid #9866b7;
}

#zoom-meeting-btn:hover {
    background-color: transparent;
    color: #9866b7;
}


/* -- single booking -- */

.single-booking {
    padding: 10px 12px;
    box-shadow: 0 20px 22px rgb(0, 0, 0, 8%);
    border-radius: 13px;
}

.single-booking .d-flex span:first-of-type {
    color: #9866b7;
    font-weight: bold;
}

.single-booking a.store-booking-btn {
    background-color: #9866b7;
    color: #fff;
    border-radius: 7px;
    padding: 7px 10px;
    text-align: center;
    margin: 8px 25px;
    display: block;
    border: 1px solid #9866b7;
    transition: var(--main-transition);
}

.single-booking a.store-booking-btn:hover {
    color: #9866b7;
    background-color: transparent;
}

.share-social a {
    width: 35px;
    height: 35px;
    background-color: #9866b7;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    border: 1px solid #9866b7;
    transition: var(--main-transition);
}

.share-social a:hover {
    color: #9866b7;
    background-color: transparent;
}


/* -- Another Courses -- */

.another-courses h2 {
    color: #8d64a6;
    font-size: 19px;
    font-weight: bold;
    position: relative;
    display: flex;
    align-items: center;
}

.another-courses h2::before {
    content: "";
    height: 35px;
    width: 3px;
    border-radius: 3px;
    background-color: #9866b7;
    margin-left: 5px;
}

.another-courses-box {
    padding: 10px 5px;
    position: relative;
    border-radius: 13px;
    box-shadow: 0 20px 19px rgba(0, 0, 0, 8%);
    width: 356px;
    margin: 12px auto;
}

.another-courses-price {
    background-color: #9866b7;
    color: #fff;
    padding: 10px 15px;
    display: block;
    border-radius: 15px;
    margin-right: auto;
    transform: translateY(-50%);
    position: absolute;
    left: 0;
}

.another-courses-cate {
    color: #9866b7;
}

.another-courses-title {
    font-weight: bold;
    color: #000;
}

.another-courses-desc {
    color: #000;
}

.another-courses-rate i {
    font-size: 14px;
    color: #9866b7;
}